<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0">Copyright &copy; Gospel Forum Cosenza 2018 </p>
    <br>
    <p class="m-0">Rende-Quattromiglia (Italia), Via F. de Pisis, 7, 87036. Tel: (+39) 09 84401608</p>
  </div>
  <hr>
  <a href="https://www.facebook.com/gospelforumcosenza"><img src="/img/facebook.png" style="width: 32px; height: 32px;"></a>
  <a href="https://www.youtube.com/user/siloetube"><img src="/img/youtube.png" style="width: 35px; height: 40px;"</a>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
