<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/appuntamenti">Appuntamenti</a>
        </li>
        <li class="nav-item dropdown px-lg-4" >
          <a class="nav-link dropdown-toggle text-uppercase text-expanded" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">La Chiesa</a>
          <div class="dropdown-menu " id="mainNav">
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/lachiesa/#Visione">La Visione</a>
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/lachiesa/#Pastori">I Pastori</a>
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/lachiesa/#Formazione">La formazione</a>
          </div>
        </li>
        <li class="nav-item dropdown px-lg-4">
          <a class="nav-link dropdown-toggle text-uppercase text-expanded" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Attività</a>
          <div class="dropdown-menu" id="mainNav">
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/attività/#generale">Generale</a>
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/attività/#GospelKids">Gospel kids</a>
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/attività/#GospelYouth">Gospel Youth</a>
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/attività/#MIP">MIP</a>
          </div>
        </li>
        <!--
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/agenda">Agenda</a>
        </li>
        -->
        <li class="nav-item dropdown px-lg-4">
          <a class="nav-link dropdown-toggle text-uppercase text-expanded" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Prediche</a>
          <div class="dropdown-menu" id="mainNav">
            {% for sermon in site.data.sermons reversed %}
            {% capture curYear %} {{ sermon.data | date: '%Y' }} {% endcapture %}
            {% if curYear != year %}
            {% capture year %} {{ sermon.data | date: '%Y' }} {% endcapture %}
            <a class="dropdown-item nav-link text-uppercase text-center" id="mainNav" href="/prediche/{{ curYear | strip }}">Prediche {{ curYear }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/contatti/">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
