<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <a name=title>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</span>
      <span class="site-heading-lower"><b>Gospel Forum Cosenza</b></span>
    </h1>
    </a>
    
    {% include navbar.html %}
    
    {{ content }}
    
    <a href="#title"><img align="right" src="/img/arrow-circle-up.svg" width="2%"></a>
    
    {% include footer.html %}


  </body>
</html>
