<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fchiesa-evangelica-siloe-www-chiesasiloe-it&color=orange_white&size=32" style="width: 32px; height: 32px;" align=right></iframe>
<a href="https://www.facebook.com/profile.php?id=100010660200241&fref=ts"><img src="/pictures/facebook-icon.png" style="width: 32px; height: 32px;" align=right></a>
<a href="https://www.youtube.com/channel/UCuOTa09_5huYwARxlZ5YHvQ"><img src="/pictures/YouTube-icon.png" style="width: 32px; height: 32px;" align=right></a>

    <div class="container container-fluid">
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              {% include header.html %}
            </div>
          </div>
            {{ content }}
          <div class="row">
            <div class="col-md-12">
              {% include footer.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
<!-- Past. Rosario Mascari,https://soundcloud.com/chiesa-evangelica-siloe-www-chiesasiloe-it/2017-02-19-pr-mp3 -->