---
layout: twocolumns
---

<table class="table">
  <tr>
    <td><b>Data</b></td>
    <td><b>Titolo</b></td>
    <td><b>Relatore</b></td>
    <td><b>Link</b></td>
  </tr>

  {% assign sermons = site.data.sermons.size  %}

  {% for sermon in (1..sermons) reversed %}
  {% if sermon == site.data.sermons.size %}
    {% continue %}
  {% endif %}
  <tr>
    <td>
      <p>{{ site.data.sermons[sermon].data }}<p>
      </td>
      <td>
        <p class="text-capitalize" role="button" data-toggle="collapse" href="#collapse-{{site.data.sermons[sermon].data}}" aria-expanded="false" aria-controls="collapseExample">
          {{ site.data.sermons[sermon].data | date:"%U"}} {{ site.data.sermons[sermon].titolo }}
        </p>
        <div class="collapse" id="collapse-{{site.data.sermons[sermon].data}}">
          <p class="text-muted">
           {{ site.data.sermons[sermon].descrizione }}
          </p>
        </div>
      </td>
    <td>
      <p>{{ site.data.sermons[sermon].relatore }}</p>
    </td>
    <td>
      <p><a href="{{ site.data.sermons[sermon].link }}" target="_blank">Link</a></p>
    </td>
  </tr>
  {% endfor %}
</table>
